<!-- Create Booking Form Template-->

{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<h2>Create a Booking</h2>

<form method="post">
    <!-- This token protects app from Cross-Site Request Forgery (CSRF) attacks, ensures submission comes from authenticated user -->
    {% csrf_token %}
    <!-- Make form using Crispy Forms -->
    {{ form|crispy }}

    <button class="btn btn-secondary" type="submit">Create a Booking</button>
</form>
{% endblock %}