<!-- Create Booking Form Template-->

{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<h2>Create a Booking</h2>
<p> To create a booking, please <a class="link" href="{{ login_url }}">log in</a>. <br>
    If you have not created an account yet, then please <a class="link" href="{{ signup_url }}">sign up</a> first.</p>
<p>Please select a date, time and table you would like to book at Latte Night Cafe. Fields with an * are required.</p>
<p>If the table at your desired date and time is booked, please try another table. <br> If these tables are also already
    booked, please try a different time or date.</p>

<form method="post">
    <!-- This token protects app from Cross-Site Request Forgery (CSRF) attacks, ensures submission comes from authenticated user -->
    {% csrf_token %}
    <!-- Makes form using Crispy Forms -->
    {{ form|crispy }}

    <button class="btn btn-secondary" type="submit">Create a Booking</button>
</form>
{% endblock %}