<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views Part 1</title>
</head>

<!--Update these fields with correct info later--> 
<body>
    {% for booking in object_list %}
    <h1>Booking Details for {{booking_id}}</h1>
    <p> Date: {{booking.date}} </p>
    <p> Time: {{booking.Time}} </p>
    <p> For Table: {{booking.table_num}}</p>
    <p> By: {{booking.user}} </p>
    <p> {{test}} </p>
    {% endfor %}
</body>

</html>