<!-- Delete a Booking Template-->

{% extends "base.html" %}

{% block content %}

<h2>Confirm Booking Cancellation</h2>

<p>Are you sure you want to delete your booking at Latte Night Cafe for {{ object.table_booked }} on
    {{ object.booking_date }} at {{ object.booking_time }}?</p>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-sm">Yes, delete my booking</button>
    <a href="{% url 'user_dashboard' %}" class="btn btn-warning btn-sm">No, keep my booking</a>
</form>

{% endblock %}