{% extends "base.html" %}

{% block content %}

<!-- Hero Section starts -->
<div class="hero-section">
    <div class="container-fluid">
        <div class="row">
            <!-- Hero Image -->
            <div class="col-12">
                <div class="hero-image"
                    style="background-image: url('https://res.cloudinary.com/dl5c9ood9/image/upload/v1723576168/cup-coffee-table-front-street-with-city-lights-background_pfpyui.jpg'); height: 400px; background-size: cover; background-position: center;"
                    aria-label="Hero image showing a steaming cup of coffee in the foreground and a city street at night in the background">
                    <div class="hero-overlay text-center" style="padding: 100px 0;">
                        <h1 class="display-4 text-white text-overlay"><b>Welcome to Latte Night Cafe</b></h1> <br>
                        <p class="lead text-white text-overlay"><b><em>where late nights become latte nights</em></b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <a href="{% url 'create_booking' %}" class="btn btn-warning btn-lg">Create a Booking</a>
</div>

<!-- Hero Section starts ends -->
{% endblock %}