<!-- User Dashboard Template-->

{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Your Bookings</h1>
        <div class="list-group">
            {% for booking in bookings %}

            <ul>
    {% for booking in bookings %}
    <li>
        Table {{ booking.table_booked }} on {{ booking.booking_date }} at {{ booking.booking_time }} for {{ booking.num_of_guests }} guest/s.
        <a href="{% url 'update_booking' booking.pk %}">Edit Booking</a> |
        <a href="{% url 'delete_booking' booking.pk %}">Delete Booking</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}